# Ignore all .class files
*.class

# Ignore all files in the /build directory
/build/

# Ignore all .log files
*.log

# Ignore all .jar files
*.jar

# Ignore all .war files
*.war

# Ignore all .form files
*.form